.header-root {
  display: flex;
  flex-direction: row;
}

.header-logo-img {
  -webkit-flex-basis: 10%;
  flex-basis: 10%;
}

.header-nav-bar-root {
  display: flex;
  flex-direction: row;
  -webkit-flex-basis: 80%;
  flex-basis: 80%;
}

.header-nav-bar-elements {
  -webkit-flex-basis: 10%;
  flex-basis: 10%;
}
