<div class="property">
  <input class="property-input" type="text" spellcheck="false" placeholder="&nbsp;"
         [ngModel]="proprieties.firstName.value"
         (ngModelChange)="changeProperty(proprieties.firstName.key, $event)">
  <span class="property-span">{{ 'information.personal.property.' + proprieties.firstName.key | translate }}</span>
</div>
<div class="property">
  <input class="property-input" type="text" spellcheck="false" placeholder="&nbsp;"
         [ngModel]="proprieties.lastName.value"
         (ngModelChange)="changeProperty(proprieties.lastName.key, $event)">
  <span class="property-span">{{ 'information.personal.property.' + proprieties.lastName.key | translate }}</span>
</div>
<span class="property-name">{{ 'information.personal.categories.dateOfBirth' | translate }}</span>
<div class="property-dob property-dob-{{proprieties.day.key}}">
  <ng-select class="property-select"
             [items]="proprieties.day.options"
             [ngModel]="proprieties.day.value"
             (ngModelChange)="changeProperty(proprieties.day.key, $event)"></ng-select>
  <span class="property-select-span">{{ 'information.personal.property.' + proprieties.day.key | translate }}</span>
</div>
<div class="property-dob property-dob-{{proprieties.month.key}}">
  <ng-select class="property-select"
             [items]="proprieties.month.options"
             [ngModel]="proprieties.month.value"
             (ngModelChange)="changeProperty(proprieties.month.key, $event)"></ng-select>
  <span class="property-select-span">{{ 'information.personal.property.' + proprieties.month.key | translate }}</span>
</div>
<div class="property-dob property-dob-{{proprieties.year.key}}">
  <ng-select class="property-select"
             [items]="proprieties.year.options"
             [ngModel]="proprieties.year.value"
             (ngModelChange)="changeProperty(proprieties.year.key, $event)"></ng-select>
  <span class="property-select-span">{{ 'information.personal.property.' + proprieties.year.key | translate }}</span>
</div>
<div class="property">
  <input class="property-input" type="text" spellcheck="false" placeholder="&nbsp;"
         [ngModel]="proprieties.phone.value"
         (ngModelChange)="changeProperty(proprieties.phone.key, $event)">
  <span class="property-span">{{ 'information.personal.property.' + proprieties.phone.key | translate }}</span>
</div>
